<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordL_project">
        <activity
            android:name=".screens.AddWordsHebrew"
            android:exported="false" />
        <activity
            android:name=".screens.GameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.editUser"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.SignUp"
            android:exported="false" />
        <activity
            android:name=".screens.landing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>